html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0px;
  height: auto !important;
}

body {
  @include opensans-font-stack();
  position: relative;
  overflow: auto;
  color: $text-basic;
  font-size: 16px;
  line-height: 1.5;
  background: $page-bg;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: auto !important;

  &.on-page-editor {
    background: $page-bg-editor !important;
  }
}

a {
  color: $vgz03;
  cursor: pointer;

  &:hover {
    color: $vgz04;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

ul li {
  list-style-type: none;
}

.xa-variable {
  border: 0px;
  padding: 1px;
  margin: 0px;
  background-color: #ebebe4;
  color: #545454;
  user-select: none;
  pointer-events: none;
}

//Navigation Bar fix
#breadcrumbMenuSubcontrol_context_menu * {
  box-sizing: initial;
}

//End navigation bar fix
.menu-mobile-navigate {
  display: none;
}

#header, #content, #footer, .sc-jss-empty-placeholder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.sc-jss-placeholder-error {
  background: #ff0000;
  outline: 5px solid #e36565;
  padding: 10px;
  color:#fff;
  max-width: 500px;
}

.promo-text {
  li {
    list-style: none !important;
    margin-bottom: 10px;
    margin-left: 20px;

    &::before {
      content: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="rgb(0 157 48)" d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>');
      position: absolute;
      transform: scale(.75);
      transform-origin: left;
      margin: -1px 0 0 -27px;
    }
  }
}

.demo-details {
  margin: 60px 15px 30px;

  &__kader {
    width: 100%;
    position: relative;
    box-sizing: content-box;
    left: calc(-50vw + 50% - 7.5px);
    padding: 30px calc(50vw - 50% - 23.5px) 25px calc(50vw - 50% + 7.5px);
    margin-bottom: 30px;
    background-color: #f0f0f0;
    max-width: none;

    > * {
      max-width: 36em;
    }
  
    p:first-of-type {
      font-size: 20px;
    }
  }

  ul {
    padding-left: 8px;
  }

  &__procons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 30px 0 0;

    > :last-child li::before {
      content: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="rgb(227 27 35)" d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg>');
      transform: scale(.6);
      margin: -2px 0 0 -27px;
    }
  }
}

.product-identifier {
  text-align: center;
  margin: 10px 0 30px;

  h2 {
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
  }

  span {
    display: block;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 26px;
    color: $vgz01;
  }
}

.field-promotext p:has(> img:first-child) {
  padding-left: 60px;
  text-indent: -0.6em;
  margin: .2em 0 1.2em;
  min-height: 40px;

  img {
    position: absolute;
    margin-left: calc(.6em - 60px);
    width: 40px !important;
    height: 40px !important;
  }
}

.image-variants-demo {
  display: block;
  margin: 30px 0;

  div {
    margin-bottom: 15px ;
  }

  span {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    font-weight: bold;
  }

  img {
    max-width: 1250px;
    display: block;
  }
}