@import '@sass/abstracts/vars';

.container-gray-background {
  background: $bg-light-gray;
}
.container-clean-background {
  background: transparent;
}
.container-dark-background {
  background: $bg-black-active;
}
.container-color-background {
  background: $bg-blue;
}
