@import "@sass/abstracts/mixins";
@import "variables";
@import "@sass/abstracts/vars/colors";

footer {
  background-color: $vgz01;
  color: #fff;
  border-top: 75px solid $vgz02;
  margin-top: 100px;

  @include respond-to(mobile-large) {
    padding-top: 0;
  }

  .container-dark-background {
    background-color: transparent;
  }

  .row {
    --bs-gutter-x: 0;
  }

  .contacts {
    font-size: $text-size-14;

    a {
      color: inherit;
    }

    p, span {
      color: $text-white;
    }
  }

  .indent-inner {
    padding: 30px 15px;

    @include respond-to(mobile-large) {
      padding: 40px 0;
    }
  }
}
