@import "@sass/abstracts/mixins";
@import "variables";
@import "@sass/abstracts/vars/colors";

footer {
  background-color: $vgz01;

  @include respond-to(mobile-large) {
    padding-top: 0;
  }
  .container-dark-background {
    background-color: transparent;
  }

  .contacts {
    font-size: $text-size-14;

    a {
      color: $text-white;
    }

    p, span {
      color: $text-white;
    }
  }

  .indent-inner {
    padding: 65px;

    @include respond-to(mobile-large) {
      padding: 40px 0;
    }
  }
}
